livekit-agents>=1.0.0rc9
livekit-plugins-openai>=1.0.0rc9
livekit-plugins-silero>=1.0.0rc9
livekit-plugins-turn-detector>=1.0.0rc9
livekit-plugins-deepgram>=1.0.0rc9
livekit-plugins-google>=1.0.0rc9
livekit-plugins-anthropic>=1.0.0rc9
livekit-plugins-cartesia>=1.0.0rc9
livekit-plugins-elevenlabs>=1.0.0rc9
livekit-plugins-rime>=1.0.0rc9
livekit-plugins-playai>=1.0.0rc9
livekit-plugins-groq>=1.0.0rc9
python-dotenv
pydantic
sounddevice
flask
pandas
websockets>=11.0.3
rich
mcp