git+https://github.com/livekit/agents.git@main#egg=livekit-agents&subdirectory=livekit-agents
git+https://github.com/livekit/agents.git@main#egg=livekit-plugins-cartesia&subdirectory=livekit-plugins/livekit-plugins-cartesia
git+https://github.com/livekit/agents.git@main#egg=livekit-plugins-openai&subdirectory=livekit-plugins/livekit-plugins-openai
git+https://github.com/livekit/agents.git@main#egg=livekit-plugins-deepgram&subdirectory=livekit-plugins/livekit-plugins-deepgram
git+https://github.com/livekit/agents.git@main#egg=livekit-plugins-silero&subdirectory=livekit-plugins/livekit-plugins-silero
python-dotenv